<mat-toolbar color="primary">
    Pearson Reporting System 
    <span align="right">
           
        <button mat-button  routerLink="/viewReport" routerLinkActive="active">view report</button>
        <button mat-button routerLink="/createReport" routerLinkActive="active"> create report</button>
        <button mat-button routerLink="/previousReport" routerLinkActive="active"> view previous reports</button>
        <!-- <button mat-button routerLink="/login" routerLinkActive="active"> Login</button> -->
    </span>
    
</mat-toolbar>

